[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
psycopg2 = "*"
pandas = "*"
tqdm = "*"
mlflow = "==2.1.1"
evidently = "*"
xgboost = "*"
pytest = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.10"
